<ion-view class="body-pages" title="Meu Perfil" id="page17">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>

    <img src="" alt="">

    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <h2 id="meuPerfil-heading13" style="color:#000000;font-weight:400;text-align:center;">{{perfil.nome}}</h2>
    <h3 id="meuPerfil-heading14" style="color:#000000;font-weight:400;text-align:center;">{{perfil.email}}</h3>
    <form id="meuPerfil-form19" class="list">
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <ion-list id="meuPerfil-list6">

        <ion-item class="item-icon-left" id="meuPerfil-list-item17">{{perfil.tel}}
          <i class="icon ion-ios-telephone-outline"></i>
        </ion-item>

        <ion-item class="item-icon-left" id="meuPerfil-list-item18">{{perfil.cel}}
          <i class="icon ion-android-call"></i>
        </ion-item>
        <ion-item class="item-icon-left" id="meuPerfil-list-item19">{{perfil.dataNasc}}
          <i class="icon ion-android-calendar"></i>
        </ion-item>
        <ion-item class="item-icon-left" id="meuPerfil-list-item20">{{perfil.prof}}
          <i class="icon ion-briefcase"></i>
        </ion-item>
        <ion-item class="item-icon-left" id="meuPerfil-list-item21">{{perfil.nicho}}
          <i class="icon ion-ios-medkit"></i>
        </ion-item>
        <ion-item class="item-icon-left" id="meuPerfil-list-item22">{{perfil.end}}
          <i class="icon ion-android-pin"></i>
        </ion-item>
        <ion-item class="item-icon-left" id="meuPerfil-list-item23" ui-sref="menu.relatRios">Meus Relatórios
          <i class="icon ion-android-archive"></i>
        </ion-item>
        <ion-item class="item-icon-left" id="meuPerfil-list-item24" ui-sref="menu.cadastro">Alterar Dados
          <i class="icon ion-android-settings"></i>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
