<ion-view class="body-pages" title="Painel de Controle" id="page1">
  <ion-content padding="true" class="has-header">

    <div class="spacer" style="width: 290px; height: 30px;"></div>
    <div>
      <p class="logo"><img src="..\img\coachtools_logo_ fundo_escuro_web.png" alt=""></p>
    </div>

    <div class="spacer" style="width: 290px; height: 30px;"></div>

    <a id="painelDeControle-button12" class="button button-positive  button-block" ng-click="goToLoveTest()">
      As 5 Linguagens do Amor
    </a>

    <div class="spacer" style="width: 290px; height: 8px;"></div>

    <a class="button button-positive  button-block" ng-click="goToRepresTest()">
      Sistema Representacional
    </a>

    <!-- <a class="button button-positive  button-block" ng-click="goToTimeTest()">
      Tríade do Tempo
    </a> -->
  </ion-content>
</ion-view>
