<ion-view class="body-pages" title="Painel de Controle" id="page1">
  <ion-content padding="true" class="has-header">

    <a id="painelDeControle-button12" class="button button-positive  button-block" ng-click="goToLoveTest()">
      As 5 Linguagens do Amor
    </a>

    <a class="button button-positive  button-block" ng-click="goToRepresTest()">
      Sistema Representacional
    </a>

    <a class="button button-positive  button-block" ng-click="goToTimeTest()">
      Tríade do Tempo
    </a>
  </ion-content>
</ion-view>
