<ion-view title="Relatórios" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="relatRios-form8" class="list">
      <h3 id="relatRios-heading6" style="color:#000000;text-align:center;">Relatório</h3>
      <form id="relatRios-form21" class="list">
        <label class="item item-input" id="relatRios-input128">
          <span class="input-label">Coachee</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="relatRios-input131">
          <span class="input-label">Data de Início</span>
          <input type="date" placeholder="">
        </label>
        <label class="item item-input" id="relatRios-input130">
          <span class="input-label">Data de Término</span>
          <input type="date" placeholder="">
        </label>
      </form>
      <div id="relatRios-container17" class="row">
        <div id="relatRios-container15" class="col, col-50">
          <a ui-sref="menu.painelDeControle" id="relatRios-button16" class="button button-stable  button-block button-outline">Cancelar</a>
        </div>
        <div id="relatRios-container16" class="col, col-50">
          <button id="relatRios-button17" class="button button-positive  button-block">Gerar</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>