<ion-view title="Amor">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 46px;"></div>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/7vnEXhqTLGl6y4T8Sa3w_amor.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 style="color:#000000;text-align:center;">Todos tem uma linguagem principal, e ainda que você diga "eu te amo" nas outras quatro linguagens seu cônjuge continuará sentindo apenas sua indiferença.</h3>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>O importante é usar a linguagem correta</strong> constantemente e se aperfeiçoar em conhecer dia a dia todas as formas ou dialetos pelos quais sua expressão é
        <strong>entendida efetividade.</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <h2 style="color:#E04F5F;font-weight:600;text-align:center;">Vamos começar?</h2>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        Nos grupos de perguntas abaixo <strong>avalie cada frase com 1 a 5</strong> de acordo com o que poderia fazer você se sentir mais apreciado e amado pelo seu colega.
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        O número <strong style="font-size:20px;"> 5 </strong> representa o que você <strong style="font-size:15px;"> MAIS apreciaria</strong> em cada grupo e o número <strong style="font-size:20px;">1</strong> o que você <strong style="font-size:15px;">MENOS apreciaria</strong> (<strong>nenhum grupo individual pode ter o mesmo número repetidas vezes</strong>)"</p>
    </div>
    <h3 style="color:#E04F5F;font-weight:600;text-align:center;">Grupo de perguntas 1</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega diz você realmente fez um ótimo trabalho, parabéns"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega, inesperadamente, faz alguma coisa no escritório que você aprecia."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega trás pra você um presente"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega te convida para uma caminhada, apenas para conversar."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega faz um esforço apenas para te dar um abraço antes de deixar o campus"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <h3 style="color:#E04F5F;font-weight:600;text-align:center;">Grupo de perguntas 2</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega te diz o quanto te aprecia"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega faz uma tarefa chata que você deveria fazer e te encoraja a descansar."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega trás pra você uma guloseima especial da padaria."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega te convida para sentar e conversar sobre o seu dia."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega gosta de receber um abraço seu quando você está apenas passando pelo campus"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <h3 style="color:#E04F5F;font-weight:600;text-align:center;">Grupo de perguntas 3</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Durante uma festa seu colega compartilha com as pessoas presente sobre um recente sucesso seu."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega leva o seu carro para o lava jato [lava-rápido]"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega surpreende você com um presente inesperado"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega te chama para dar um passeio à tarde."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega anda de braço dado com você quando vocês estão passeando no shopping"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <h3 style="color:#E04F5F;font-weight:600;text-align:center;">Grupo de perguntas 4</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega te elogia por causa de uma de suas qualidades especiais."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega prepara um lanche e leva pra você no campus"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega que tem sustento completo paga academia [ou cursinho] para você por 2 meses."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega planeja uma saída legal para vocês."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega te dá uma carona, e te poupa de ter que pegar aquele ônibus lotado!"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <h3 style="color:#E04F5F;font-weight:600;text-align:center;">Grupo de perguntas 5</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega te diz o quanto seus amigos te apreciam"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega preenche pra você esse relatório complicado que você odeia fazer."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega manda entregar na sua casa um presente surpresa."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega convida você para almoçar, te leva para o seu restaurante favorito e paga a conta."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">"Seu colega faz uma massagem nos seus ombros."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 5">
          </label>
        </form>
      </div>
    </div>
    <button class="button button-positive  button-block">Enviar!</button>
  </ion-content>
</ion-view>
