<ion-view title="Teste" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="teste3-form17" class="list">
      <h3 id="teste3-heading12" style="color:#000000;text-align:center;">Tríade do
        <br> Tempo</h3>
      <label class="item item-input" id="teste3-input83">
        <span class="input-label">Nome Completo</span>
        <input type="text" placeholder="">
      </label>
      <div id="teste3-container33" class="row">
        <div id="teste3-container31" class="col, col-50">
          <a ui-sref="menu.painelDeControle" id="teste3-button30" class="button button-stable  button-block button-outline">Cancelar</a>
        </div>
        <div id="teste3-container32" class="col, col-50">
          <a ui-sref="menu.painelDeControle" id="teste3-button31" style="font-weight:500;color:#000000;" class="button button-balanced  button-block">Salvar</a>
        </div>
      </div>
    </form>
    <button id="teste3-button32" style="font-weight:500;font-size:15px;border-radius:1px 1px 1px 1px;" class="button button-positive button-small button-block button-clear">Gerar relatório</button>
  </ion-content>
</ion-view>