<ion-view title="Amor">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 46px;"></div>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/7vnEXhqTLGl6y4T8Sa3w_amor.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 style="color:#E04F5F;font-weight:600;text-align:center;">Grupo de perguntas 1</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 108px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega diz você realmente fez um ótimo trabalho, parabéns"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo1a" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo1a" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo1a" ng-model="3">3</ion-radio>
          <ion-radio ng-model="grupo1a" ng-value="4">4</ion-radio>
          <ion-radio ng-mdeol="grupo1a" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 93px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega, inesperadamente, faz alguma coisa no escritório que você aprecia."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo1b" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo1b" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo1b" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo1b" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo1b" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="height: 100px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega trás pra você um presente"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo1c" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo1c" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo1c" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo1c" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo1c" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 90px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega te convida para uma caminhada, apenas para conversar."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo1d" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo1d" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo1d" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo1d" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo1d" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 92px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega faz um esforço apenas para te dar um abraço antes de deixar o campus"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo1e" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo1e" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo1e" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo1e" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo1e" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <h3 style="color:#E04F5F;font-weight:600;text-align:center;">Grupo de perguntas 2</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 77px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega te diz o quanto te aprecia"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo2a" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo2a" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo2a" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo2a" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo2a" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 78px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega faz uma tarefa chata que você deveria fazer e te encoraja a descansar."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo2b" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo2b" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo2b" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo2b" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo2b" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 86px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega trás pra você uma guloseima especial da padaria."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo2c" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo2c" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo2c" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo2c" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo2c" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 89px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega te convida para sentar e conversar sobre o seu dia."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo2d" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo2d" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo2d" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo2d" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo2d" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 76px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega gosta de receber um abraço seu quando você está apenas passando pelo campus"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo2e" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo2e" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo2e" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo2e" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo2e" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <h3 style="color:#E04F5F;font-weight:600;text-align:center;">Grupo de perguntas 3</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 82px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Durante uma festa seu colega compartilha com as pessoas presente sobre um recente sucesso seu."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo3a" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo3a" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo3a" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo3a" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo3a" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 83px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega leva o seu carro para o lava jato [lava-rápido]"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo3b" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo3b" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo3b" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo3b" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo3b" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega surpreende você com um presente inesperado"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo3c" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo3c" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo3c" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo3c" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo3c" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 89px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega te chama para dar um passeio à tarde."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo3d" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo3d" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo3d" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo3d" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo3d" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 91px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega anda de braço dado com você quando vocês estão passeando no shopping"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo3e" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo3e" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo3e" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo3e" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo3e" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <h3 style="color:#E04F5F;font-weight:600;text-align:center;">Grupo de perguntas 4</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 83px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega te elogia por causa de uma de suas qualidades especiais."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo4a" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo4a" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo4a" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo4a" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo4a" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 88px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega prepara um lanche e leva pra você no campus"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo4b" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo4b" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo4b" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo4b" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo4b" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 83px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega que tem sustento completo paga academia [ou cursinho] para você por 2 meses."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo4c" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo4c" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo4c" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo4c" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo4c" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 79px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega planeja uma saída legal para vocês."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo4d" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo4d" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo4d" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo4d" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo4d" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 84px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega te dá uma carona, e te poupa de ter que pegar aquele ônibus lotado!"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo4e" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo4e" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo4e" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo4e" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo4e" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <h3 style="color:#E04F5F;font-weight:600;text-align:center;">Grupo de perguntas 5</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 83px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega te diz o quanto seus amigos te apreciam"</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo5a" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo5a" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo5a" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo5a" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo5a" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 78px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega preenche pra você esse relatório complicado que você odeia fazer."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo5b" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo5b" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo5b" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo5b" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo5b" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 92px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega manda entregar na sua casa um presente surpresa."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo5c" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo5c" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo5c" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo5c" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo5c" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 87px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega convida você para almoçar, te leva para o seu restaurante favorito e paga a conta."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo5d" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo5d" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo5d" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo5d" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo5d" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div class="spacer" style="width: 163.993px; height: 91px;"></div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:19px;">"Seu colega faz uma massagem nos seus ombros."</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <ion-radio ng-model="grupo5e" ng-value="1">1</ion-radio>
          <ion-radio ng-model="grupo5e" ng-value="2">2</ion-radio>
          <ion-radio ng-model="grupo5e" ng-value="3">3</ion-radio>
          <ion-radio ng-model="grupo5e" ng-value="4">4</ion-radio>
          <ion-radio ng-model="grupo5e" ng-value="5">5</ion-radio>
        </form>
      </div>
    </div>
    <button class="button button-positive  button-block" ng-click="goToCloud(grupo1a, grupo1b, grupo1c, grupo1d, grupo1e, grupo2a, grupo2b, grupo2c, grupo2d, grupo2e, grupo3a, grupo3b, grupo3c, grupo3d, grupo3e, grupo4a, grupo4b, grupo4c, grupo4d, grupo4e, grupo5a, grupo5b, grupo5c, grupo5d, grupo5e)">Enviar!</button>
  </ion-content>
</ion-view>
