<ion-view title="Teste" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="teste2-form14" class="list">
      <h3 id="teste2-heading11" style="color:#000000;text-align:center;">Sistema
        <br> Representacional</h3>
      <label class="item item-input" id="teste2-input82">
        <span class="input-label">Nome Completo</span>
        <input type="text" placeholder="">
      </label>
      <div id="teste2-container30" class="row">
        <div id="teste2-container28" class="col, col-50">
          <a ui-sref="menu.painelDeControle" id="teste2-button28" class="button button-stable  button-block button-outline">Cancelar</a>
        </div>
        <div id="teste2-container29" class="col, col-50">
          <a ui-sref="menu.painelDeControle" id="teste2-button29" style="font-weight:500;color:#000000;" class="button button-balanced  button-block">Salvar</a>
        </div>
      </div>
    </form>
    <button id="teste2-button33" style="font-weight:500;font-size:15px;" class="button button-positive button-small button-block button-clear">Gerar relatório</button>
  </ion-content>
</ion-view>