<ion-view title="Teste" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="teste-form9" class="list">
      <h3 id="teste-heading10" style="color:#000000;text-align:center;">As 5 Linguagens
        <br> do Amor</h3>
      <label class="item item-input" id="teste-input11">
        <span class="input-label">Nome Completo</span>
        <input type="text" placeholder="">
      </label>
      <div id="teste-container27" class="row">
        <div id="teste-container25" class="col, col-50">
          <a ui-sref="menu.painelDeControle" id="teste-button26" class="button button-stable  button-block button-outline">Cancelar</a>
        </div>
        <div id="teste-container26" class="col, col-50">
          <a ui-sref="menu.painelDeControle" id="teste-button27" style="font-weight:500;color:#000000;" class="button button-balanced  button-block">Salvar</a>
        </div>
      </div>
    </form>
    <button id="teste-button34" style="font-size:15px;" class="button button-positive button-small button-block button-clear">Gerar relatório</button>
  </ion-content>
</ion-view>