<ion-view title="Representacional">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 46px;"></div>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/rVyKmtrvQHKvz0LpJflZ_repre.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 style="color:#000000;text-align:center;">Vamos realizar o teste do seu sistema representacional?</h3>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A partir de agora você terá sempre <strong>4 opções para descrever quem você é</strong>, e deverá seguir a lógica de:
        <strong>
          4 = essa é a opção que mais me descreve<br>
          3 = a próxima melhor descrição<br>
          2 = a próxima melhor<br>
          1 = a que menos descreve você<br>
        </strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <h2 style="color:#68ACAC;font-weight:600;text-align:center;">Vamos começar?</h2>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Nos grupos de perguntas abaixo
        <strong>avalie cada frase com 1 a 5</strong> de acordo com o que poderia fazer você se sentir mais apreciado e amado pelo seu colega.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O número 5 representa o que você mais apreciaria em cada grupo e o número 1 o que você menos apreciaria [
        <strong>nenhum grupo individual pode ter o mesmo número repetidas vezes</strong>]"</p>
    </div>
    <h3 style="color:#68ACAC;font-weight:600;text-align:center;">Grupo de perguntas 1</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <h3 style="color:#000000;font-weight:600;text-align:center;">Eu tomo decisões importantes baseado em:</h3>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">intuição</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">o que me soa melhor</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">o que me parece melhor</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">um estudo preciso e minucioso do assunto.</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <h3 style="color:#68ACAC;font-weight:600;text-align:center;">Grupo de perguntas 2</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <h3 style="color:#000000;font-weight:600;text-align:center;">Durante uma decisão eu sou mais influenciado por:</h3>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">tom de voz de outra pessoa</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">se eu posso ou não ver o argumento de outra pessoa</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">a lógica do argumento de outra pessoa</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">se eu entro em contato ou não com os sentimentos reais do outro. </p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <h3 style="color:#68ACAC;font-weight:600;text-align:center;">Grupo de perguntas 3</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <h3 style="color:#000000;font-weight:600;text-align:center;">Eu comunico mais facilmente o que se passa comigo:</h3>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">do modo como me visto e aparento</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">pelos sentimentos que compartilho</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">pelas palavras que escolho</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">pelo tom da minha voz</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <h3 style="color:#68ACAC;font-weight:600;text-align:center;">Grupo de perguntas 4</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <h3 style="color:#000000;font-weight:600;text-align:center;">É muito fácil pra mim:</h3>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">achar o volume e sintonia ideais em um sistema de som</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">selecionar o ponto mais relevante relativo a um assunto interessante.</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">escolher os móveis mais confortáveis</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">escolher as combinações de cores mais ricas e atraentes </p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="number" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <h3 style="color:#68ACAC;font-weight:600;text-align:center;">Grupo de perguntas 5</h3>
    <div class="spacer" style="width: 300px; height: 34.9896px;"></div>
    <h3 style="color:#000000;font-weight:600;text-align:center;">Eu me percebo assim:</h3>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">se eu estou muito em sintonia com os sons do ambiente </p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">se eu sou muito capaz de raciocinar com os fatos e dados novos</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">eu sou muito sensível à maneira como a roupa veste meu corpo</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-60">
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">eu respondo fortemente às cores e à aparência de uma sala.</p>
        </div>
      </div>
      <div class="col col-40">
        <form class="list">
          <label class="item item-input">
            <input type="text" placeholder="1 a 4">
          </label>
        </form>
      </div>
    </div>
    <button class="button button-positive  button-block">Enviar!</button>
  </ion-content>
</ion-view>
