<ion-view title="Representacional">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 46px;"></div>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/rVyKmtrvQHKvz0LpJflZ_repre.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 style="color:#000000;text-align:center;">Vamos realizar o teste do seu sistema representacional?</h3>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A partir de agora você terá sempre <strong>4 opções para descrever quem você é</strong>, e deverá seguir a lógica de:
        <strong>
          4 = essa é a opção que mais me descreve<br>
          3 = a próxima melhor descrição<br>
          2 = a próxima melhor<br>
          1 = a que menos descreve você<br>
        </strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <h2 style="color:#68ACAC;font-weight:600;text-align:center;">Vamos começar?</h2>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Nos grupos de perguntas abaixo
        <strong>avalie cada frase com 1 a 4</strong> de acordo com o que mais descreve você, sem repetir o n´úmero.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O número 4 representa o que mais te representa em cada grupo e o número 1 o que você menos apreciaria [
        <strong>nenhum grupo individual pode ter o mesmo número repetidas vezes</strong>]"</p>
    </div>

    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h3 style="color:#68ACAC;font-weight:600;text-align:center;">1. Eu tomo decisões importantes baseado em:</h3>
    <div class="spacer" style="width: 300px; height: 20px;"></div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... o que me soa melhor.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo1a" ng-value="1">1</option>
          <option ng-model="grupo1a" ng-value="2">2</option>
          <option ng-model="grupo1a" ng-value="3">3</option>
          <option ng-model="grupo1a" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... um estudo preciso e minucioso do assunto.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo1b" ng-value="1">1</option>
          <option ng-model="grupo1b" ng-value="2">2</option>
          <option ng-model="grupo1b" ng-value="3">3</option>
          <option ng-model="grupo1b" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... intuição.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo1c" ng-value="1">1</option>
          <option ng-model="grupo1c" ng-value="2">2</option>
          <option ng-model="grupo1c" ng-value="3">3</option>
          <option ng-model="grupo1c" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... o que me parece melhor.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo1d" ng-value="1">1</option>
          <option ng-model="grupo1d" ng-value="2">2</option>
          <option ng-model="grupo1d" ng-value="3">3</option>
          <option ng-model="grupo1d" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h3 style="color:#68ACAC;font-weight:600;text-align:center;">2.	Durante uma discussão eu sou mais influenciado por: </h3>
    <div class="spacer" style="width: 300px; height: 20px;"></div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... tom de voz da outra pessoa.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo2a" ng-value="1">1</option>
          <option ng-model="grupo2a" ng-value="2">2</option>
          <option ng-model="grupo2a" ng-value="3">3</option>
          <option ng-model="grupo2a" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... a lógica do argumento da outra pessoa.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo2b" ng-value="1">1</option>
          <option ng-model="grupo2b" ng-value="2">2</option>
          <option ng-model="grupo2b" ng-value="3">3</option>
          <option ng-model="grupo2b" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... se eu entro em contato ou não com os sentimentos reais do outro.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo2c" ng-value="1">1</option>
          <option ng-model="grupo2c" ng-value="2">2</option>
          <option ng-model="grupo2c" ng-value="3">3</option>
          <option ng-model="grupo2c" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... se eu posso ou não ver o argumento da outra pessoa.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo2d" ng-value="1">1</option>
          <option ng-model="grupo2d" ng-value="2">2</option>
          <option ng-model="grupo2d" ng-value="3">3</option>
          <option ng-model="grupo2d" ng-value="4">4</option>
        </select>
      </label>
    </div>



    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h3 style="color:#68ACAC;font-weight:600;text-align:center;">3.	Eu comunico mais facilmente o que se passa comigo:</h3>
    <div class="spacer" style="width: 300px; height: 20px;"></div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... pelo tom da minha voz.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo3a" ng-value="1">1</option>
          <option ng-model="grupo3a" ng-value="2">2</option>
          <option ng-model="grupo3a" ng-value="3">3</option>
          <option ng-model="grupo3a" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... pelas palavras que escolho.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo3b" ng-value="1">1</option>
          <option ng-model="grupo3b" ng-value="2">2</option>
          <option ng-model="grupo3b" ng-value="3">3</option>
          <option ng-model="grupo3b" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... pelos sentimentos que compartilho.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo3c" ng-value="1">1</option>
          <option ng-model="grupo3c" ng-value="2">2</option>
          <option ng-model="grupo3c" ng-value="3">3</option>
          <option ng-model="grupo3c" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... do modo como me visto e aparento.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo3d" ng-value="1">1</option>
          <option ng-model="grupo3d" ng-value="2">2</option>
          <option ng-model="grupo3d" ng-value="3">3</option>
          <option ng-model="grupo3d" ng-value="4">4</option>
        </select>
      </label>
    </div>



    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h3 style="color:#68ACAC;font-weight:600;text-align:center;">4.	É muito fácil para mim:</h3>
    <div class="spacer" style="width: 300px; height: 20px;"></div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... achar o volume e a sintonia ideais num sistema de som.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo4a" ng-value="1">1</option>
          <option ng-model="grupo4a" ng-value="2">2</option>
          <option ng-model="grupo4a" ng-value="3">3</option>
          <option ng-model="grupo4a" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... selecionar o ponto mais relevante relativo a um assunto interessante.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo4b" ng-value="1">1</option>
          <option ng-model="grupo4b" ng-value="2">2</option>
          <option ng-model="grupo4b" ng-value="3">3</option>
          <option ng-model="grupo4b" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... escolher os móveis mais confortáveis.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo4c" ng-value="1">1</option>
          <option ng-model="grupo4c" ng-value="2">2</option>
          <option ng-model="grupo4c" ng-value="3">3</option>
          <option ng-model="grupo4c" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... escolher as combinações de cores mais ricas e atraentes.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo4d" ng-value="1">1</option>
          <option ng-model="grupo4d" ng-value="2">2</option>
          <option ng-model="grupo4d" ng-value="3">3</option>
          <option ng-model="grupo4d" ng-value="4">4</option>
        </select>
      </label>
    </div>



    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h3 style="color:#68ACAC;font-weight:600;text-align:center;">5.	Eu me percebo assim:</h3>
    <div class="spacer" style="width: 300px; height: 20px;"></div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... se estou muito em sintonia com os sons do ambiente.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo5a" ng-value="1">1</option>
          <option ng-model="grupo5a" ng-value="2">2</option>
          <option ng-model="grupo5a" ng-value="3">3</option>
          <option ng-model="grupo5a" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... se sou muito capaz de raciocinar com fatos e dados novos.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo5b" ng-value="1">1</option>
          <option ng-model="grupo5b" ng-value="2">2</option>
          <option ng-model="grupo5b" ng-value="3">3</option>
          <option ng-model="grupo5b" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... eu sou muito sensível à maneira como a roupa veste o meu corpo.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo5c" ng-value="1">1</option>
          <option ng-model="grupo5c" ng-value="2">2</option>
          <option ng-model="grupo5c" ng-value="3">3</option>
          <option ng-model="grupo5c" ng-value="4">4</option>
        </select>
      </label>
    </div>


    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          ... eu respondo fortemente às cores e à aparência de uma sala.
        </div>
        <select>
          <option>-</option>
          <option ng-model="grupo5d" ng-value="1">1</option>
          <option ng-model="grupo5d" ng-value="2">2</option>
          <option ng-model="grupo5d" ng-value="3">3</option>
          <option ng-model="grupo5d" ng-value="4">4</option>
        </select>
      </label>
    </div>

    <div class="spacer" style="width: 300px; height: 30px;"></div>


    <label class="item item-input item-select">
      <div class="input-label">
        Coachee
      </div>
      <select>
        <option>-</option>
        <option ng-model="grupo5d" ng-value="1">1</option>
        <option ng-model="grupo5d" ng-value="2">2</option>
        <option ng-model="grupo5d" ng-value="3">3</option>
        <option ng-model="grupo5d" ng-value="4">4</option>
      </select>
    </label>


    <label class="item item-input item-select">
      <span class="input-label">Data</span>
      <input type="date" placeholder="" ng-model="dados.dataRelRepres">
    </label>

    <button class="button button-positive  button-block">Enviar!</button>
  </ion-content>
</ion-view>
