<ion-view title="Tempo">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 45px;"></div>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/EJszixdcQSeZxfvYHZxs_tempo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 style="color:#043912;font-weight:600;text-align:center;">Tríade do Tempo</h2>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Há quem diga que
        <strong>seu tempo é um recurso tão ou mais valioso que seu dinheiro</strong>! Que tal entender melhor sobre sua forma de organizá-lo?</p>
    </div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Considere 1. Nunca - 2. Raramente - 3. Às vezes - 4. Quase sempre - 5. Sempre</p>
    </div>
    <h2 style="color:#043912;font-weight:600;text-align:center;">Vamos começar?</h2>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Costumo a ir a eventos, festas ou cursos, mesmo sem ter muita vontade, para agradar meu chefe, meus amigos ou família.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <div1 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div1>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Não consigo realizar tudo que me propus fazer no dia e preciso fazer hora extra e levar trabalho para casa.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div2 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div2>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Quando recebo um novo e-mail, costumo dar uma olhada para checar o conteúdo.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div3 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div3>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Costumo visitar com regularidade pessoas relevantes em minha vida como amigos, parentes, filhos</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div4 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div4>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">É comum aparecerem problemas inesperados no meu dia a dia.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div5 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div5>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Assumo compromissos com outras pessoas ou aceito novas posições na empresa, mesmo que não goste muito da nova atividade, se for para aumentar meus rendimentos ou obter uma promoção.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div6 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div6>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Tenho um tempo definido para dedicar a mim mesmo e nele, posso fazer o que quiser.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div7 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div7>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Costumo deixar para fazer relatórios, imposto de renda, compras de Natal, estudar para provas e outras tarefas perto do prazo de entrega.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div8 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div8>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Nos dias de descanso, costumo passar boa parte do dia assistindo à televisão, jogando ou acessando a internet.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div9 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div9>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Faço um planejamento por escrito de tudo que preciso fazer durante minha semana.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div10 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div10>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Posso afirmar que estou conseguindo realizar tudo que gostaria em minha vida e que o tempo está passando na realidade correta.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div11 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div11>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Costumo participar de reuniões sem saber direito o conteúdo, o porquê devo participar ou a que resultado aquele encontro pode levar.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div12 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div12>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Consigo melhores resultados e me sinto mais produtivos quando estou sob pressão ou com o prazo curto.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div13 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div13>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Quando quero alguma coisa, defino esse objetivo por escrito, estabeleço prazos em minha agenda, monitoro os resultados obtidos e os comparo com os esperados.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div14 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div14>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Leio muitos e-mails desnecessários com piadas, correntes propagandas, apresentações, produtos e etc.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div15 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div15>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Estive atrasado com minhas tarefas ou reuniões nas últimas semanas.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div16 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div16>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Faço esporte com regularidade, me alimento da forma adequada e tenho o lazer que gostaria.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div17 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div17>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">É comum reduzir meu horário de almoço ou até mesmo comer enquanto trabalho para concluir um projeto ou tarefa.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div18 class="row">
      <div class="col col-20">
        <button class="button button-stable  button-block">1</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">2</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">3</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">4</button>
      </div>
      <div class="col col-20">
        <button class="button button-stable  button-block">5</button>
      </div>
    </div18>
    <a ui-sref="menu.painelDeControle" class="button button-positive  button-block">Enviar</a>
    <div class="spacer" style="width: 300px; height: 35.9896px;"></div>
    <div class="button-bar"></div>
  </ion-content>
</ion-view>
