.body-pages{
  background-color: #070F30;
  ;
}

.item.item-body {
  background-color: #52677F;
}

/*.label.item.item-radio.ng-empty.ng-valid{
  background-color: #52677F;
}

.ng-valid{
  background-color: green;
}*/


/*---------------------------------   CLASS LOGIN   -----------------------------------*/
.logo{
  text-align: center;
}

input{
  text-align: center;
}

label.item.item-input.top-input, label.item.item-input.bottom-input{
  text-align: center;
  padding-right: 16px;
}

.card .item.item-input input, .list-inset .item.item-input input, .padding > .list .item.item-input input, .padding-horizontal > .list .item.item-input input {
    padding-right: 0px;
}

.center-form label.top-input, .center-form label.bottom-input {
    border-radius: 4px 4px 4px 4px;
}

.center-form label {
    background-color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0);
}




/*---------------------------------   CLASS HOME   -----------------------------------*/
.icons-home{
  width: auto;
  text-align: center;
}

.btn-home{
  width: 20px;
}

#login .scroll{
  transform:translate3d(0px, 280px, 0px) scale(1) !important;
}
